@font-face {
  font-family: "Nosutaru";
  src: url("../fonts/Nosutaru-dotMPlusH-10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nosutaru", sans-serif;
}

.wrapper {
  overflow-x: hidden;
}

.sectionContainer {
  width: 100%;
  padding-inline: 28px;
  margin-inline: auto;
}

.topSection__wrapper {
  padding-bottom: 20vh;
  height: 120vh;
  background-color: #000a22;
}

.topSection {
  display: grid;
  place-items: center;
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.topSection__message {
  display: block;
  line-height: 2.4;
  font-size: 1.5rem;
  word-wrap: break-word;
}

.topSection__icon {
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
  animation: flash 1.2s ease-in-out infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

.messageSection {
  /* height: 100vh; */
  padding: 200px 0 120px;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #000a22 0%, #013662 100%);
  text-align: center;
  color: white;
}

.messageSection__inner {
}

.messageSection__message {
  p:last-child {
    margin-bottom: 0;
  }
}

.messageSection__paragraph {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 2.8;
  letter-spacing: 0.04em;
  text-indent: 0.04em;
}

.messageSection__backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.messageSection__background {
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: -1;
}

.memberSection__star {
  position: absolute;

  &.memberSection__star--shootingStar1 {
    top: 10px;
    left: 10px;
  }

  &.memberSection__star--shootingStar2 {
    top: 10px;
    left: 15px;
  }

  &.memberSection__star--shootingStar3 {
    top: 15px;
    left: 10px;
  }
}

.memberSection {
  padding-block: 32px;
  position: relative;
  background-color: white;
  color: #021030;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    width: 640px;
    height: 640px;
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
  }

  &::before {
    top: -56px;
  }

  &::after {
    bottom: -56px;
  }
}

.memberSection__title {
  text-align: center;
  font-size: 1.625rem;
  letter-spacing: 0.21em;
  text-indent: 0.29em;
}

.memberSection__subTitle {
  display: block;
  margin-bottom: 40px;
  text-align: center;
  font-size: 0.75rem;
  text-indent: 0.1em;
}

.memberSection__members {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.memberSection__member {
  display: flex;
  gap: 24px;
}

.memberSection__memberCircle {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  &.memberSection__memberCircle--yellow {
    background-color: #fff16f;
  }

  &.memberSection__memberCircle--blue {
    background-color: #8deaff;
  }
}

.memberSection__memberBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.memberSection__memberName {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 3.2px;

  &.memberSection__memberName--sakai {
    color: #ff774b;
  }

  &.memberSection__memberName--aiboshi {
    color: #4cd098;
  }

  &.memberSection__memberName--horie {
    color: #0070ce;
  }

  &.memberSection__memberName--ohtsuki {
    color: #ff6f6f;
  }

  &.memberSection__memberName--takizawa {
    color: #6fb1ff;
  }

  &.memberSection__memberName--aida {
    color: #6fb1ff;
  }
}

.memberSection__memberPosition {
  color: #013662;
  font-size: 0.625rem;
  line-height: 1;
}

.memberSection__memberMessage {
  color: #013662;
  font-size: 0.75rem;
  line-height: 1.6;
}

.bottomSection__outerWrapper {
  background: linear-gradient(180deg, #013662 0%, #1e6eab 31%, #fff7b1 100%);
}

.bottomSection__innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  min-height: 100svh;
}

.bottomSection__interval {
  height: 400px;
}

.bottomSection {
  flex: 1;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
}

.bottomSection__message {
  display: block;
  line-height: 2.4;
  font-size: 1.5rem;
  word-wrap: break-word;
}

.footer {
  text-align: center;
  color: #021030;
  font-size: 0.875rem;
}
